@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-secondary-800 antialiased;
    font-family: "Inter", sans-serif;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-secondary-200 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-secondary-300;
}
